<!DOCTYPE html>
<html>

<head>
    <title>Scary Movie Night DB Project</title>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    <link rel="stylesheet" href="../libs/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.mins.js"></script>
</head>

<body class="entire-page">
    
    <div class="ScaryMovieNight">
    <a href="/movies">
        <h2><b>Scary Movie Night: Search & Enjoy</b></h2>
    </a>
    </div>
    <div class="header">
    <h4>

    <a href="/movies/index"><b>{ Movies We've Seen }</b></a>

    <a href="/movies/new"><b>{ Add a New Movie to our Have-Seen-Database }</b></a>

    <a href="/movies/upload"><b>{ Upload a GIF from one of our Movies }</b></a>

    <a href="/movies/pictures"><b>{ Funny GIF Gallery }</b></a>
    </h4>
    </div>
    